.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

    
        p {
            font-family:  Helvetica, Arial, sans-serif;
            margin: 0px;
            color: #2f4f4f;
        }
    
        h1 {
            font-size: 10px;
            margin: 0px;
            color: #2f4f4f;
            font-family:  Helvetica, Arial, sans-serif;
        }
    
        h2 {
            font-size: 30px;
            color: #2f4f4f;
            margin: 0px;
        }
    
        a {
            color: blue;
            text-decoration: underline;
            font-size: 20px;
            margin: 0px;
        }
    
        .card {
            width: 100%;
            padding: 10px 80px;
            text-align: center;
        }
    
        .benefits-logo {
            width: 100%;
        }
    
        .center {
            text-align: center;
            margin-top: 0px;
        }
    
        .form-component {
            width: 70%;
            height: 30px;
            text-align: center;
            margin-left: 15%;
        }
    
    

}
