<div class="container">
  working 
  
  <div class="center">
      <h2>Call Life Assist</h2>
  </div>
  
  <div class="card">
      <p>Please call the 24 hour helpline for immediate assistance on</p>
      <a >0800 22 22 61</a>
      <p>(Standard cellphone rates apply, or FREE from any landline)</p>
  </div>
  
  
  
  <div class="card">
      <h1>*Your immediate family is defined as: The Shoprite staff member,
          your life partner and your financially dependant children under
          the age of 25 years old.
      </h1>
  </div>
</div>
